<div class="container" [ngClass]="{ 'row-reverse': rowReverse }">
  <picture>
    <source [srcset]="data.categoryImage.desktop" media="(min-width: 1200px)" />
    <source [srcset]="data.categoryImage.tablet" media="(min-width: 768px)" />
    <img
      [src]="data.categoryImage.mobile"
      alt="product-image"
      class="container__product-image"
    />
  </picture>
  <div class="container__detail">
    <h5 *ngIf="data.new" class="container__detail__new-product">NEW PRODUCT</h5>
    <h1 class="container__detail__product-name">{{ data.name }}</h1>
    <p class="container__detail__description">{{ data.description }}</p>
    <button
      *ngIf="!isDetailView"
      class="container__detail__see-product"
      [routerLink]="['/' + data.category, data.slug]"
      (click)="updateSelectedProduct()"
    >
      See Product
    </button>
    <div *ngIf="isDetailView" class="add-to-cart-wrapper">
      <h4 class="price-text">{{ data.price | currency }}</h4>
      <div class="buttons-wrapper">
        <div class="update-count-wrapper">
          <button class="btn" (click)="updateCount(-1)">-</button>
          <span class="count-text">{{ productCount }}</span>
          <button class="btn" (click)="updateCount(1)">+</button>
        </div>
        <button class="add-to-cart-btn"  (click)="updateCount(0)">Add to cart</button>
      </div>
    </div>
  </div>
</div>
