@use "../../../../assets/sass/mixins.scss";
@use "../../../../assets/sass/variables.scss";

.container {
  border-radius: 8px;
  background-color: variables.$theme-orange;
  text-align: center;
  margin: 0 0 24px;

  &__background {
    height: 207px;
    width: 172.25px;
    margin: 55px auto 32px;
  }

  &__title {
    @include mixins.text(36px, 500, variables.$text-white);
    letter-spacing: 1.29px;
    line-height: 40px;
    width: 50vw;
    margin: 0 auto;
  }

  &__description {
    @include mixins.text(15px, 400, variables.$text-white);
    line-height: 25px;
    margin: 24px;
  }

  &__see-product-btn {
    @include mixins.button(fill, variables.$black);
    margin-bottom: 55px;
  }
}

@media screen and (min-width: variables.$tablet-screen-size) {
  .container {
    margin: 120px 0 32px;

    &__background {
      height: 237px;
      width: 197.21px;
      margin: 52px auto 64px;
    }

    &__title {
      @include mixins.text(56px, 500, variables.$text-white);
      letter-spacing: 2px;
      line-height: 58px;
      width: 40vw;
    }

    &__description {
      width: 40vw;
      margin: 24px auto;
    }

    &__see-product-btn {
      margin: 16px auto 64px;
    }
  }
}

@media screen and (min-width: variables.$desktop-screen-size) {
  .container {
    display: flex;
    overflow: hidden;
    margin: 120px 0 32px;

    &__background {
      height: 464px;
      width: 410.23px;
      margin: 117px 138px -15px 117px;
    }

    &__title {
      width: 15vw;
      margin: 0;
      margin-top: 133px;
    }

    &__description {
      width: 20vw;
      margin: 24px auto;
    }
  }

  .align-left {
    text-align: left;
  }
}
