<div class="container">
  <picture>
    <source
      srcset="../../../../assets/images/home/desktop/image-speaker-zx9.png"
      media="(min-width: 1024px)"
    />
    <source
      srcset="../../../../assets/images/home/tablet/image-speaker-zx9.png"
      media="(min-width: 768px)"
    />
    <img
      src="../../../../assets/images/home/mobile/image-speaker-zx9.png"
      alt="banner"
      class="container__background"
    />
  </picture>
  <div class="align-left">
    <h1 class="container__title">ZX9 SPEAKER</h1>
    <p class="container__description">
      Upgrade to premium speakers that are phenomenally built to deliver truly
      remarkable sound.
    </p>
    <button
      class="container__see-product-btn"
      routerLink="/speakers/zx9-speaker"
    >
      See product
    </button>
  </div>
</div>
