<div class="container">
  <picture>
    <source [srcset]="data.image.desktop" media="(min-width: 1024px)" />
    <source [srcset]="data.image.tablet" media="(min-width: 768px)" />
    <img [src]="data.image.mobile" alt="banner" class="container__background" />
  </picture>
  <div class="align-left">
    <h1 class="container__title">{{ data.name }}</h1>
    <p class="container__description">
      {{ data.description }}
    </p>
    <button
      class="container__see-product-btn"
      [routerLink]="['/' + data.category, data.slug]"
    >
      See product
    </button>
  </div>
</div>
