@use "../../../../assets/sass/common.scss";
@use "../../../../assets/sass/mixins.scss";
@use "../../../../assets/sass/variables.scss";

section {
  background-color: variables.$background-black;
}

.container {
  // max-width: variables.$mobile-max-width;
  padding: 32px 24px 36px;
  border-bottom: 1px solid variables.$border;

  &__nav-wrapper {
    display: none;
  }
}

@media screen and (min-width: variables.$desktop-screen-size) {
  .container {
    // width: variables.$tablet-max-width;
    // margin: 0 auto;
    padding: 32px 0;

    &__btn-menu {
      display: none;
    }

    &__nav-wrapper {
      display: flex;
      gap: 36px;
    }

    &__nav-wrapper .nav-item {
      @include mixins.text(13px, 300, variables.$text-white);
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 25px;
    }

    .nav-item:hover {
      @include mixins.transition();
      color: variables.$theme-orange;
    }

    .nav-item--active {
      color: variables.$theme-orange;
    }
  }
}
