<section>
  <div class="container d-flex space-between">
    <button class="container__btn-menu remove-btn-class">
      <img
        src="../../../../assets/icons/icon-hamburger.svg"
        alt="menu"
        height="15"
        width="16"
      />
    </button>
    <button class="remove-btn-class" routerLink="/">
      <img src="../../../../assets/icons/logo.svg" alt="logo" height="25" />
    </button>
    <ul class="container__nav-wrapper">
      <li
        *ngFor="let nav of navItems"
        class="nav-item remove-list-bullets"
        routerLinkActive="nav-item--active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a [routerLink]="[nav.route]">{{ nav.name }}</a>
      </li>
    </ul>
    <button class="container__cart remove-btn-class" (click)="openCart()">
      <img
        src="../../../../assets/icons/icon-cart.svg"
        alt="cart"
        height="20"
        width="23"
      />
    </button>
  </div>
</section>
