<div mat-dialog-content>
  <div class="header">
    <h1 class="header__items-count">Cart({{ cartItemsCount }})</h1>
    <button
      class="header__remove-all-btn remove-btn-class"
      (click)="removeAllCartItems()"
      [ngClass]="{ 'header__remove-all-btn__disable': cartItemsCount === 0 }"
    >
      Remove All
    </button>
  </div>
  <div *ngFor="let item of cartItems" class="item">
    <img class="item__img" [src]="item.image" alt="cart-image" />
    <div class="d-flex space-between align-center w-100">
      <div>
        <h3 class="item__name">{{ item.name | trim }}</h3>
        <span class="item__price">{{ item.price | currency }}</span>
      </div>
      <div class="update-count-wrapper">
        <button class="btn" (click)="updateCount(-1, item.id)">-</button>
        <span class="count-text">{{ item.quantity }}</span>
        <button class="btn" (click)="updateCount(1, item.id)">+</button>
      </div>
    </div>
  </div>
  <div class="footer">
    <span class="footer__total-text">Total</span>
    <h2 class="footer__total-amount">{{ totalCost | currency }}</h2>
  </div>
  <button
    class="checkout-btn"
    [ngClass]="{ 'checkout-btn__disable': cartItemsCount === 0 }"
    (click)="openCheckoutPage()"
  >
    Checkout
  </button>
</div>
