@use "../../../../assets/sass/mixins.scss";
@use "../../../../assets/sass/variables.scss";
@use "../../../../assets/sass/common.scss";

section {
  padding: 24px;
  background-color: variables.$white;
  border-radius: variables.$border-radius;
}

.page-title {
  @include mixins.text(28px, 500, variables.$text-black);
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 34px;
  padding-bottom: 36px;
  text-transform: uppercase;
}

.container {
  margin-bottom: 8px;
}

.container__title {
  @include mixins.text(13px, 400, variables.$theme-orange);
  letter-spacing: 0.93px;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.container__field {
  display: flex;
  flex-direction: column;

  &__text {
    @include mixins.text(12px, 400, variables.$text-black);
    letter-spacing: -0.21px;
    height: 14px;
  }

  &__input,
  &__radio {
    height: 56px;
    border-radius: variables.$border-radius;
    border: 1px solid variables.$input-border;
    padding: 0 24px;
    margin: 11px 0 24px;
    cursor: pointer;
    @include mixins.text(14px, 400, variables.$text-black);
    letter-spacing: -0.25px;
    line-height: 17px;

    &:hover,
    &:focus {
      border-color: variables.$theme-orange;
      outline: variables.$theme-orange;
      opacity: 1;
    }

    &::placeholder {
      @include mixins.text(14px, 400, variables.$text-black);
      opacity: 0.4;
      letter-spacing: -0.25px;
      line-height: 17px;
    }
  }

  &__radio {
    display: flex;
    align-items: center;

    label {
      margin-left: 16px;
    }
  }

  .mb {
    margin-bottom: 8px;
  }

  .text-error {
    color: variables.$error;
  }

  .input-error {
    border-color: variables.$error;
  }
}

.cash-on-delivery p {
  @include mixins.text(15px, 400, variables.$text-black);
  opacity: 0.5;
  line-height: 25px;
  padding-top: 12px;
}

.d-flex {
  display: block;
}

@media screen and (min-width: variables.$tablet-screen-size) {
  .container {
    margin-bottom: 29px;
  }

  .d-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 16px;
  }

  .mb {
    margin-bottom: 22px;
  }

  .container__field__input,
  .container__field__radio {
    width: 39vw;
  }

  .full-width,
  .full-width input {
    width: -webkit-fill-available;
  }

  .cash-on-delivery {
    display: flex;
    margin-bottom: 24px;
    p {
      padding: 0 0 0 32px;
    }
  }
}

@media screen and (min-width: variables.$desktop-screen-size) {
  .container__field__input,
  .container__field__radio {
    width: 21vw;
  }

  .full-width,
  .full-width input {
    width: -webkit-fill-available;
  }

  .mb {
    margin-bottom: 30px;
  }
}
