<section>
  <h1 class="summary-text">Summary</h1>
  <div *ngFor="let item of cartItems" class="item">
    <img class="item__img" [src]="item.image" alt="cart-image" />
    <div class="d-flex space-between w-100">
      <div>
        <h3 class="item__name">{{ item.name }}</h3>
        <span class="item__sub-text">{{ item.price | currency }}</span>
      </div>
      <span class="item__sub-text item__quantity-text"
        >x{{ item.quantity }}</span
      >
    </div>
  </div>
  <div>
    <div class="footer mt-32">
      <span class="footer__title">Total</span>
      <h2 class="footer__amount">{{ totalCost | currency }}</h2>
    </div>
    <div class="footer">
      <span class="footer__title">Shipping</span>
      <h2 class="footer__amount">{{ shippingCost | currency }}</h2>
    </div>
    <div class="footer">
      <span class="footer__title">Vat (included)</span>
      <h2 class="footer__amount">{{ vatAmount | currency }}</h2>
    </div>
    <div class="footer mt-24">
      <span class="footer__title">Grand Total</span>
      <h2 class="footer__amount theme-color">
        {{ grandTotalCost | currency }}
      </h2>
    </div>
    <button class="continue-btn mt-32" (click)="openConfirmationDialog()">
      Continue & Pay
    </button>
  </div>
</section>
