<section>
  <picture>
    <source
      srcset="../../../../assets/images/home/desktop/image-earphones-yx1.jpg"
      media="(min-width: 1024px)"
    />
    <source
      srcset="../../../../assets/images/home/tablet/image-earphones-yx1.jpg"
      media="(min-width: 768px)"
    />
    <img
      src="../../../../assets/images/home/mobile/image-earphones-yx1.jpg"
      alt="product-image"
      class="product-image"
    />
  </picture>
  <div class="container">
    <h1 class="container__title">YX1 Wireless Earphones</h1>
    <button
      class="container__see-product-btn"
      routerLink="/earphones/yx1-earphones"
    >
      See product
    </button>
  </div>
</section>
