<section>
  <picture>
    <source [srcset]="data.image.desktop" media="(min-width: 1024px)" />
    <source [srcset]="data.image.tablet" media="(min-width: 768px)" />
    <img [src]="data.image.mobile" alt="product-image" class="product-image" />
  </picture>
  <div class="container">
    <h1 class="container__title">{{ data.name }}</h1>
    <button
      class="container__see-product-btn"
      [routerLink]="['/' + data.category, data.slug]"
    >
      See product
    </button>
  </div>
</section>
