<section>
  <picture>
    <source
      srcset="../../../../assets/images/shared/desktop/image-best-gear.jpg"
      media="(min-width: 1200px)"
    />
    <source
      srcset="../../../../assets/images/shared/tablet/image-best-gear.jpg"
      media="(min-width: 768px)"
    />
    <img
      src="../../../../assets/images/shared/mobile/image-best-gear.jpg"
      alt="image"
      class="section__image"
    />
  </picture>
  <div class="container">
    <h1 class="container__title">
      Bringing you the
      <span class="container__title__highlight">best</span>
      audiogear
    </h1>
    <p class="container__description">
      Located at the heart of New York City, Audiophile is the premier store for
      high end headphones, earphones, speakers, and audio accessories. We have a
      large showroom and luxury demonstration rooms available for you to browse
      and experience a wide range of our products. Stop by our store to meet
      some of the fantastic people who make Audiophile the best place to buy
      your portable audio equipment.
    </p>
  </div>
</section>
