@use "../../../../assets/sass/variables.scss";

section {
  padding: 24px;
  background-color: variables.$background-grey;
}

.container {
  max-width: variables.$mobile-max-width;

  &__back-btn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    color: variables.$text-black;
    opacity: 0.5;
    line-height: 25px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: variables.$tablet-screen-size) {
  section {
    padding: 24px 40px 116px;
  }
}

@media screen and (min-width: variables.$desktop-screen-size) {
  section {
    padding: 38px 0 141px;
  }

  .container {
    max-width: variables.$tablet-max-width;
    margin: 0 auto;

    &__back-btn {
      margin-bottom: 38px;
    }
  }

  .d-flex {
    display: flex;
  }
}

@media screen and (min-width: variables.$large-screen-size) {
  .container {
    max-width: variables.$large-screen-max-width;
  }
}

@media screen and (min-width: variables.$extra-large-screen-size) {
  .container {
    max-width: variables.$extra-large-screen-max-width;
  }
}
