.d-flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-arround {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-wrap{
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.remove-btn-class {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.remove-input-class{
  outline: none;
  border: none;
}

.remove-list-bullets {
  list-style-type: none;
}

.cursor-pointer {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.grid-center{
  display: grid;
  place-items: center;
}

.p-0{
  padding: 0;
}

.m-0{
  margin: 0;
}
