@use "../sass/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Manrope", sans-serif;
}

@mixin text($size, $weight, $color: white) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin button($type, $color, $width: 160px) {
  height: 48px;
  width: $width;
  border: 1px solid;
  border: none;
  outline: none;
  cursor: pointer;
  @include text(13px, 500);
  letter-spacing: 1px;
  line-height: 16px;
  text-transform: uppercase;

  @if $type == fill {
    color: variables.$white;
    border-color: $color;
    background-color: $color;
    @if $color == variables.$theme-orange {
      &:hover {
        background-color: variables.$theme-orange-dim;
      }
    } @else if $color == variables.$black {
      &:hover {
        background-color: variables.$black-hover;
      }
    }
  } @else {
    color: $color;
    border-color: $color;
    background-color: variables.$white;
    &:hover {
      color: variables.$text-white;
      background-color: $color;
    }
  }
}

@mixin transition($duration: 0.2s, $property: ease-in, $color: transparent) {
  -webkit-transition: $color $duration $property;
  transition: $color $duration $property;
}
