@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Manrope", sans-serif;
}

@mixin text($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin transition($duration: 0.2s, $property: ease-in, $color: color) {
  -webkit-transition: $color $duration $property;
  transition: $color $duration $property;
}
