@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

$font-family: "Manrope", sans-serif;
$border-radius: 8px;

$tablet-screen-size: 768px;
$desktop-screen-size: 1024px;
$large-screen-size: 1400px;
$extra-large-screen-size: 1600px;

$mobile-max-width: 100vw;
$tablet-max-width: 90vw;
$large-screen-max-width: 80vw;
$extra-large-screen-max-width: 70vw;

$theme-orange: hsl(22, 65%, 57%);
$theme-orange-dim: hsl(21, 94%, 75%);
$background-black: hsl(0, 0%, 10%);
$background-grey: hsl(0, 0%, 95%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$error: hsl(0, 65%, 49%);
$black-hover: hsl(0, 0%, 30%);
$text-white: hsl(0, 0%, 100%);
$text-black: hsl(0, 0%, 0%);
$border: hsla(0, 0%, 100%, 0.2);
$input-border: hsl(0, 0%, 81%);
